input{
    background: transparent;
    border: 0;
    border: 1px solid #fafafa;
    border-radius: 20px;
    height: 62px;
    width: 80%;
    margin: 20px;
    padding: 0 20px;
    color: #fff;
    font-size: 20px;
}